<ion-content fullscreen>
      <ion-list-header>
        Pedidos Finalizados
      </ion-list-header>

  <ion-content padding>
    <ion-list *ngFor="let pedido of pedidos | async">
        <ion-item no-padding>
            <label style="font-weight: bold;">Nº Ped:</label>
            <label> &nbsp;{{pedido.id}} &nbsp;&nbsp;&nbsp;</label>
            <label style="font-weight: bold;">Descrição:</label>
            <label>&nbsp; {{pedido.produto.nomeProduto}}</label>
        </ion-item>
    </ion-list>
</ion-content>