<div *ngIf="showSplash" class="splash">
    <ion-spinner name="lines" style="width: 150px; height: 150px; color: white;"></ion-spinner><br/>
</div>


   
  <!--  PARA FUNCIONAR É NECESSÁRIO DE DUAS IMAGENS NESSAS CONDIÇÕES:
  /resources/icon.png - pelo menos 1024x1024px
  /resources/splash.png - pelo menos 2732 × 2732px 
-->
   

<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>


<ion-tabs *ngIf="statusLogado == true">
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="tab1" (click)="openHomePage()">
        <ion-icon name="home"></ion-icon>
        <ion-label >Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab3" (click)="logout()">
        <ion-icon name="exit"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>