<ion-content fullscreen>
  <ion-list-header>
    Detalhes do Pedido
  </ion-list-header>

  <button (click)="retornar()">
    <ion-icon name="arrow-back" style="width: 25px; height: 25px;"></ion-icon>
  </button>
  <!--<ion-content no-padding>
    <form role="form" [formGroup]="pedidoForm">

<ion-card>
<ion-list margin-top >
  <ion-item ion-item detail-none>
    <div item-left class="green" style="height: 32px !important">
    </div>
    <p no-margin style="padding:5px; font-weight: bold;">ID Pedido &nbsp;&nbsp;</p>
    <ion-input type="text" placeholder="" formControlName="id" autofocus autocapitalize="off" disabled></ion-input>
  </ion-item>
  <ion-item ion-item detail-none>
    <div item-left class="yellow" style="height: 32px !important"></div>
    <p no-margin style="padding:5px; font-weight: bold ">Produto &nbsp;&nbsp;</p>
    <ion-input type="text" placeholder="" formControlName="produtos" autofocus autocapitalize="off" disabled></ion-input>
  </ion-item>
  <ion-item ion-item detail-none>
    <div item-left class="red" style="height: 32px !important"></div>
    <p no-margin style="padding:5px; font-weight: bold">Quantidade &nbsp;&nbsp;</p>
    <ion-input type="text" placeholder=""  formControlName="quantidade"  autofocus autocapitalize="off" disabled></ion-input>
  </ion-item> 
  <ion-item ion-item detail-none>
    <div item-left class="red" style="height: 32px !important"></div>
    <p no-margin style="padding:5px; font-weight: bold">Tamanho &nbsp;&nbsp;</p>
    <ion-input type="text" placeholder=""  autofocus autocapitalize="off" disabled></ion-input>
  </ion-item> 
  <ion-item ion-item detail-none>
    <div item-left class="red" style="height: 32px !important"></div>
    <p no-margin style="padding:5px; font-weight: bold">Data de Ínicio &nbsp;&nbsp;</p>
    <ion-input type="text" placeholder="" autofocus autocapitalize="off" disabled></ion-input>
  </ion-item>
  <ion-item ion-item detail-none>
    <div item-left class="red" style="height: 32px !important"></div>
    <p no-margin style="padding:5px; font-weight: bold">Data de Fim &nbsp;&nbsp;</p>
    <ion-input type="text" placeholder="" autofocus autocapitalize="off" disabled></ion-input>
  </ion-item>
</ion-list>

<br/><br/><br/><br/><br/><br/><br/>
<ion-button color="primary" expand="full" on-click="login()">Começar</ion-button>
<ion-button color="danger" expand="full" on-click="login()">Finalizar</ion-button>
</ion-card>
</form>
</ion-content>-->


  <ion-content>
    <ion-grid no-padding>
     
        <ion-card>
          <ion-list margin-top>
             <form [formGroup]="pedidoForm" (ngSubmit)="onSubmit" novalidate>
            <ion-item ion-item detail-none>
              <div item-left class="green" style="height: 32px !important">
              </div>
              <p no-margin style="padding:5px; font-weight: bold;">ID Pedido &nbsp;&nbsp;</p>
              <ion-input type="text" placeholder="" formControlName="id" autofocus autocapitalize="off" disabled>
              </ion-input>
            </ion-item>
            <ion-item ion-item detail-none>
              <div item-left class="yellow" style="height: 32px !important"></div>
              <p no-margin style="padding:5px; font-weight: bold ">Produto &nbsp;&nbsp;</p>
              <ion-input type="text" placeholder="" formControlName="produto" autofocus autocapitalize="off" disabled>
              </ion-input>
            </ion-item>
            <ion-item ion-item detail-none>
              <div item-left class="red" style="height: 32px !important"></div>
              <p no-margin style="padding:5px; font-weight: bold">Quantidade &nbsp;&nbsp;</p>
              <ion-input type="text" placeholder="" formControlName="quantidade" autofocus autocapitalize="off"
                disabled></ion-input>
            </ion-item>
            <ion-item ion-item detail-none>
                <div item-left class="red" style="height: 32px !important"></div>
                <p no-margin style="padding:5px; font-weight: bold">Observação &nbsp;&nbsp;</p>
                <ion-input type="text" placeholder="" formControlName="observacao" autofocus autocapitalize="off" disabled></ion-input>
              </ion-item>
          </form>
            <ion-item ion-item detail-none>
                <div item-left class="red" style="height: 32px !important"></div>
                <p no-margin style="padding:5px; font-weight: bold">Tamanho &nbsp;&nbsp;</p>
                <ion-input type="text" placeholder="" [(ngModel)]="tamanhoPizza" autofocus autocapitalize="off" disabled></ion-input>
            </ion-item>
          </ion-list>



          <br /><br /><br /><br /><br /><br /><br />
          <ion-button color="primary" expand="full" on-click="comecarAProduzir()" [disabled]="statusPedido == 2">Começar</ion-button>
          <ion-button color="danger" expand="full" on-click="finalizar()" [disabled]="statusPedido == 3">Finalizar</ion-button>
        </ion-card>



    </ion-grid>
  </ion-content>