
  <ion-content>
    <div id="wrapper">
      <ion-slides pager paginationClickable=false initialSlide=0 loop=false autoplay=1000 speed=2000>
  
        <ion-slide *ngFor="let image of ImageArray">
          <img src="{{image.image}}" height="593" width="890" /></ion-slide>
      </ion-slides>
    </div>
  
    <ion-row>
        <ion-col>
          <br>
          <ion-card text-center padding  class="pedidos-aberto-dash" (click)="openPedidosAbertoPage()">
              <ion-icon name="cart" class="pedidos-aberto-icon"></ion-icon>
              <h2 class="pedidos-aberto-title">{{qtdPedidosEmAberto}}</h2>
              <h3 class="pedidos-aberto-subtitle">Pedidos em Abertos</h3>
          </ion-card>
          <ion-card text-center padding  class="pedidos-finalizados-dash">
              <ion-icon name="checkmark-circle" class="pedidos-aberto-icon"></ion-icon>
              <h2 class="pedidos-aberto-title">{{qtdPedidosFinalizados}}</h2>
              <h3 class="pedidos-aberto-subtitle">Pedidos Finalizados</h3>
          </ion-card>
        </ion-col>
      </ion-row>

  </ion-content>
