<ion-content fullscreen>
    <ion-list>
      <ion-list-header>
        Pedidos em Aberto
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/pizza.jpg">
          </ion-avatar>
        <ion-label>
          <h2>Pizza de Camarão</h2>
          <h3>Sem cebola</h3>
        </ion-label>
      </ion-item>

      <ion-item>
          <ion-avatar slot="start">
              <img src="../../../assets/pizza.jpg">
          </ion-avatar>
        <ion-label>
            <h2>Pizza de Camarão</h2>
            <h3>Sem cebola</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
            <img src="../../../assets/pizza.jpg">
          </ion-avatar>
        <ion-label>
            <h2>Pizza de Camarão</h2>
            <h3>Sem cebola</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>